[2019-03-22 12:09] seanjermey opened #2 "Add ability to include author in entry migrations"
When migrating large amounts of entries, it would be great to be able to keep the original author associated with the entry

[2019-03-22 12:17] seanjermey opened #3 "Add ability to export tags"
Currently you can export the tag groups but not the tags themselves

[2019-04-16 05:17] anchovy opened #4 "Add ability to migrate commerce products/variants"
Creating migrations for commerce products and variants.
- need to take into account fields & field assignments, so I'd think the safest was would probably be to also include migrations for all the fields used by the products/variants
- assign these as required to the product/variants
etc.

[2019-04-24 02:17] my2ter opened #5 "Craft 3.1 UID migration failure"
Hi,

This is a combined error with https://plugins.craftcms.com/entriessubset and Craft new UID solution. The problem is due to how Craft uses UID now for searching sections.

To reproduce:
- Create a new field as a Entries Subset type
- Select a single source
- Select a single entry type
- Generate migration for the field and the section

When generating the migration it will end up with somethin

[2019-04-24 11:36] ClemensSchneider commented on #3
This is especially annoying because the contents of tag-fields are not included when creating a content-migration, so this information is lost.

[2019-05-14 15:51] tim-thaler opened #7 "Default user group by UID"
Hey guys,
if I select a default user group under settings->user settings there is an error with exporting user groups. The system user settings returns now a uid for the default group but the function call is done with getGroupById()

Craft Version 3.1.26

src/services/UserGroups.php: 60 - OLD
` if ($newGroup['settings']['defaultGroup'] != null) {
                $group = Craft::$app->userGroups->

[2019-05-28 12:51] jonXmack opened #8 "SQLSTATE[23000]: Integrity constraint violation: 1048 Column 'uid' cannot be null"
I'm having an issue running a migration on a site I'm working on. It has multiple sites and I'm trying to get the content from one specific sites home page entry. I've edited the json in the migration file so it's limited to the one entry, but every time I try to run it I get the following error:

[code]

Any pointers or advice on what I'm doing wrong or suggestions on how to fix it would be great

[2019-05-28 13:52] dgrigg commented on #8
Hi Jon, what type of migration are you trying to create? Field, section, content and are you using the latest version of Migration Assistant?

[2019-05-28 13:53] jonXmack commented on #8
Hi, I'm exporting an entry, using the latest version of Migration Assistant and Craft

[2019-05-31 19:50] dgrigg commented on #5
@my2ter try using the events, https://github.com/dgrigg/craft-migration-assistant#using-events to grab the data on the way out/in to manipulate it before the migration runs. With complex custom field types that's the best way to handle those situations since we can't plan/support every type of field.

[2019-05-31 20:10] dgrigg commented on #8
fixed in latest release

[2019-05-31 20:10] #8 closed

[2019-05-31 20:10] dgrigg commented on #7
fixed in latest release

[2019-05-31 20:10] #7 closed

[2019-06-02 04:05] my2ter commented on #5
@dgrigg

I don't think the event is necessary - as said I can just search for the section before running the migration -  but good to know. I agree you can't support every custom fields and my example was only showcasing the problem, which is not about custom field but Craft UIDs.

For a migration to work you need to base it on a unique ID that never changes, Craft UID aren't like that because at

[2019-06-05 16:17] dgrigg commented on #5
@my2ter the event route is handy if you need to modify migrations on an ongoing basis. For one and done, manual is probably the best option.

Regarding the migrations and ids/uids the migration assistant does not rely on them. It uses handles and slugs (depending on the entity being migrated) which are more likely to remain consistent between environments. We do export the UID but only for data in

[2019-06-05 16:17] #5 closed

[2019-07-22 17:53] brandonkelly opened #10 "Entry import is disregarding post/expiry date timezones"
These lines:

https://github.com/dgrigg/craft-migration-assistant/blob/4a9ceff667cb183b96322824df003b0374b9e81d/src/services/EntriesContent.php#L145-L146

Should be accounting for the timezone stored in the array:

[code]

For example you could do this:

[code]

I’ve also just updated `DateTimeHelper::toDateTime()` to support passing in PHP DateTime arrays like the above (craftcms/cms@ad2f39e84654

[2019-07-23 19:22] dgrigg commented on #10
thanks @brandonkelly, issue has been resolved.

[2019-07-23 19:22] #10 closed

[2019-08-07 20:04] simeon-smith opened #12 "Feature Request: Include Field Id"
When modifying an existing field if you change the handle it appears to create a new field when the migration is run.

If you included the field ID and checked if it existed and if so modified it you could get around this.

[2019-08-29 18:20] timbertens opened #13 "Entries not inserted in non-translatable entries field in multilingual website"
My setup
- multilingual site (3 languages)
- section that has entries that has a matrix fields that has 3 fields
---- header (translatable field)
---- text (translatable field)
---- link to a multiple another entries (non-translatable field)

the entries that can be linked are products and have of all translatable fields, including of course a multilingual slug

In the section mentioned above the

[2019-08-30 13:35] timbertens commented on #13
Just a quick update. Because we were stuck at this point, we had to look for a workaround to keep the deployment proces going.  What we've done is
- create a 'normal' migration using migration assistant for the section mentioned above (leading to no entries in the product field)
- made a copy of this migration and changed file name and matching class name
- stripped out the 2nd and 3rd language fr

[2019-08-30 13:56] dgrigg commented on #13
Hi @timbertens reading over this I want to clarify a few things:
The matrix field has a block with 3 fields in the block:
- header (translatable field)
- text (translatable field)
- link to a multiple another entries (non-translatable field)

When you run a 'content migration' the values in the header and text fields are populated correctly in their respective language entry. The link field value

[2019-08-30 13:58] timbertens commented on #13
yes, exactly.  The content of the migration file is correct (referencing the correct entries, each in their own language) as far as I can tell, but on running it I end up with no entries in the third field

[2019-08-30 14:02] dgrigg commented on #13
@timbertens do the entries that the third field is linking to exist in the destination site before the migration is run?

[2019-08-30 14:04] timbertens commented on #13
yes, the linked entries (being products) are created first and afterward the section (there are 3 in fact) that links to those products is migrated

[2019-08-30 14:06] dgrigg commented on #13
ok, I will dig into this one

[2019-09-02 15:19] dgrigg commented on #13
@timbertens trying to figure this out. I setup similar fields/sections locally and everything is working correctly.

I created a single landing page section with a matrix field with one block, block has 3 fields, 2 text fields that are translatable, one entry field that can link to an entry (product entries) that is not translatable. <img width="1774" alt="Screen Shot 2019-09-02 at 11 17 45 AM" sr

[2019-09-02 15:21] timbertens commented on #13
Do your products have a different slug per product per language?

[2019-09-02 15:23] dgrigg commented on #13
no, the products have the same slug

[2019-09-02 15:24] timbertens commented on #13
Make them different and you should start having the issue too

[2019-09-02 15:32] dgrigg commented on #13
Still working correctly. Can you send me a copy of the migration that was causing the issue.

[2019-09-02 15:52] timbertens commented on #13
in your mailbox !

[2019-09-02 20:22] dgrigg commented on #12
@simeon-smith unfortunately the id values are not consistent between database hence the reliance on the handles/slug. It's not 100% perfect (as in the case of changes/deletions) but it's more reliable than the ids.

[2019-09-02 20:22] #12 closed

[2019-09-03 19:00] dgrigg commented on #13
release version 3.1.4 should resolve this issue.

[2019-09-04 19:52] timbertens commented on #13
yes, it does! many thanks

[2019-09-04 19:52] #13 closed

[2019-09-16 20:05] ricricucit opened #14 "Categories::getGroupByHandle() must be of the type string, array given"
### I get this:
[code]

### Doing this (AKA how to reproduce it):
1. export all fields, sections, categories, etc. on one environment
2. run that generated migration called "everything" on new, or same exact environment

[2019-09-17 16:34] ricricucit opened #15 "Entry is missing its type ID"
This happens when trying to migrate "Single" entries: "**Entry is missing its type ID**".

[2019-09-17 16:55] ricricucit commented on #15
it was me. I forgot to make a migration for the section, before exporting the entry.
Thanks for this:

[code]

[2019-09-17 16:55] #15 closed

[2019-09-17 18:47] dgrigg commented on #15
@ricricucit yes, order of operations is a must for migrations

[2019-09-17 18:48] dgrigg commented on #14
@ricricucit are you getting this error if you break up the migrations to make sure the category has been migrated before a field that use the category?

[2019-09-18 09:16] ricricucit commented on #14
didn't re-try this one, thanks for the advice. Will report back here.

[2019-09-18 13:36] ricricucit commented on #14
Ok, @dgrigg just tried following the order you suggest in the README and broken down the migrations. I still get:

[code]

[2019-09-18 13:54] ricricucit commented on #14
Do you have good hints on what could be going wrong? Also: the message says `Check the logs for details.` ...but I don't understand them :P :

[code]

[2019-09-18 13:58] dgrigg commented on #14
@ricricucit can you attach a copy of the migration file?

[2019-09-18 13:59] ricricucit commented on #14
[m190918_152054_migration_fields.php.zip](https://github.com/dgrigg/craft-migration-assistant/files/3626770/m190918_152054_migration_fields.php.zip)

[2019-09-18 14:06] dgrigg commented on #14
two questions:
1. which version of migration manager are you running?
2. does the 'publicationsCategories' exist on the destination site before running the migration?

[2019-09-18 14:11] ricricucit commented on #14
1. latest (`v3.1.4`)
2. yes

[2019-09-18 14:28] dgrigg commented on #14
Ok, I will find a solution.

[2019-09-19 16:30] timbertens opened #16 "Migrations of structures don't take into account the parent entry when parent is disabled"
I have a structure like this
-- page
----- subpage1
----- subpage2
----- subpage3

page + 3 subpages are disabled globally

when creating a migration for these pages the field parent for the subpages has the correct parent specified in the JSON string

upon executing the migration, the parent is ignored and the subpages are created at the same level of "page".  This does not occur when "page" is e

[2019-09-20 15:57] dgrigg commented on #14
@ricricucit try to create three separate migrations in this order:
1. the category
2. the field that references the category
3. the section(s) that reference the category field

That should fix the issue.

[2019-09-20 15:57] dgrigg commented on #16
It looks like the 'page' is getting excluded as the parent because it's a draft. A fix has been added to the latest release.

[2019-09-20 15:57] #16 closed

[2019-10-09 17:15] #14 closed

[2019-10-18 15:56] ricricucit commented on #14
For all those landing here from a search and for @dgrigg:

I've _now_ realised that I forgot to delete 1 field pointing to a previously deleted category.
This was throwing the error.

[2019-11-14 22:50] strandofgenius opened #17 "Unable to run migration"
I am running Craft 3.1.28 and Migration Assistant 3.1.5. I've tested the migration locally and had it successfully import, then tried on a staging site and continue to get this error. My backups folder should exist as well as writable.

[code]

[2019-12-05 22:21] bransinanderson opened #18 "Migration for Matrix rows is broken"
Craft CMS v3.3.11
Migration Assistant v3.1.5

To replicate

1. Staging create A-F rows with the Matrix field
2. Staging create entry migration where the A-F rows reside
3.  Run on production. Both entries in the two separate environments are identical

![Screenshot from 2019-12-05 13-56-37](https://user-images.githubusercontent.com/431930/70278867-ef2e1100-1769-11ea-95f7-ce7af695a976.png)

4. On s

[2019-12-23 16:13] dgrigg commented on #18
@bransinanderson give release 3.1.6 a try, sort order have been fixed.

[2019-12-23 16:13] #18 closed

[2020-01-14 15:43] dturkington49 opened #19 "Add ability to download/upload content migrations"
For non-technical users, it would be useful to add the ability to not only create a content migration, but also download it through the browser and upload the content to a different environment. This enables non-technical users to not have to learn git, command line, or any deployment process. It could be as simple as:

1. Create the content entry in some sort of staging environment
2. Download/ex

[2020-01-30 09:22] mrunkel commented on #17
mysqldump: not found

You need to make sure ```mysqldump``` is in the path on your staging server.   This has nothing to do with the plugin.

[2020-02-13 09:40] thinkflo opened #20 "Migrations under Craft 3.4 failing"
Currently unable to run migrations of an Entry in Craft 3.4.  Tried a migration of an entry with the following trace stack:

`2020-02-13 10:16:16 [-][1][-][error][craft\db\MigrationManager::migrateUp] Failed to apply m200213_095645_migration_entry_kassensystem (time: 2.746s). Output:
Exception: strtolower() expects parameter 1 to be string, array given (/var/www/html/craft/vendor/craftcms/cms/src/

[2020-02-19 11:52] ricricucit commented on #20
@dgrigg is this plugin being updated? Asking, because I'm making clients pay for this plugin's license, and therefor the updates..............

[2020-02-19 12:23] dgrigg commented on #20
@thinkflo @ricricucit I am working on this issue

[2020-02-19 16:49] dgrigg commented on #20
@thinkflo @ricricucit two questions:

1. which specific version of Craft are you running?

2. Is this happening on section/field or content migrations?

3. Any details you can provide on the type of entry (if it's a content entry) you are attempting to migrate. Any special fields?

[2020-02-20 13:10] ricricucit commented on #20
Thanks!
TBH with you, I did not yet migrate to 3.4 because I've read about this issue.
I didn't personally experienced it, but I would like not to experience it 😊

[2020-02-20 13:12] dgrigg commented on #20
@ricricucit which issues on 3.4 did you read about? I have tested with 3.4.6.1 and everything is working correctly. This could be an internal Craft issue.

[2020-02-20 13:14] ricricucit commented on #20
......this one 😊

I was just checking all "vital" plugins issues list, before migrating. Reading this issue, stopped me from migrating the project to the latest craft.

Are you saying you cannot reproduce it?

[2020-02-20 13:16] dgrigg commented on #20
Ahh, I thought you meant an issue on a Craft upgrade list. I have not been able to reproduce this error. Hoping @thinkflo can provide some additional details about his environment.

[2020-02-20 13:18] dgrigg commented on #20
@thinkflo one idea I just had, the error looks like it's happening with a BaseRelationField. Could you be missing a field in your export that you have set as required on the section?

[2020-02-25 16:46] #17 closed

[2020-02-25 16:48] dgrigg commented on #20
@thinkflo going to close this issue if you have no additional details to add. I can't replicate this problem, I suspect it's related to your content, not the plugin.

[2020-03-03 14:02] ricricucit commented on #20
soooooo I guess I can upgrade? 😊

[2020-03-03 14:13] dgrigg commented on #20
go for it

[2020-03-03 14:13] #20 closed

[2020-04-24 02:48] AnthonyFerraro007 opened #21 "Issue creating new migration for entries"
Craft Version: 3.4.0
Migration Assistant Version: 3.1
PHP: 7.0

 Issue occurs when trying to create a migration for page entries inside a structure section. When trying to run the migration for the entries theres no response on the page and the server returns a 500 (Internal Server Error) from the server.

[2020-04-25 14:21] dgrigg commented on #21
Hey @AnthonyFerraro007 can you provide some details from your log file to help me pinpoint the issue.

[2020-06-16 16:24] jbogendoerfer commented on #21
I think I have a similar problem.
Craft Pro 3.4.23
Migration Assistant | 3.1.8
PHP version | 7.3.11

When selecting a Singles Enrty (for example Homepage) and click on "create Migration" the link
http://....de/index.php?p=admin/actions/element-indexes/perform-action&v=1592324332740
creates a 500 error and returns
{"error":"Call to a member function className() on null"}

[2020-06-16 16:33] jbogendoerfer opened #23 "Multisite-Content-Miagration imports wrong"
Craft Pro 3.4.23
Migration Assistant | 3.1.8
PHP version | 7.3.11

i have the JSON below in the migration-file,
when importing the migration the content of the field "elements" for "en" is in both sites ("de","en").
title, slug and seo get imported the right way, the german content of elements is not imported into "de".

{"content":{"entries":[{"slug":"impressum","section":"contentPage","sites":{"

[2020-06-16 16:57] dgrigg commented on #23
Can you attach your migration file as an attachment?

FYI, when you run a content migration it follows the locale/site propagation rules defined on the site and field (ie matrix, supertable). What propagation settings do you have in place on the destination site?

[2020-06-16 16:58] dgrigg commented on #21
Hi, can you provide any additional details from your log file?

[2020-06-17 11:47] jbogendoerfer commented on #23
Hi Drerrick, thank you for your reply.

The Section is setup with "Save entries to all sites enabled for this
section"
Attached is the migration-file.
"DE" is my primary site.
If I create the migration-file when viewing the "EN"-Site, the only thing
that changes in the migration-file ist the first slug outside the sites
from "impressum" to "imprint".

Kind regards
Jürgen

Am Di., 16. Juni 2020 um

[2020-06-17 12:05] jbogendoerfer commented on #21
Hi Derrick,

I attached the part of the log for the error when trying to create a
migration for a Single-Section.

Kind regards
Jürgen

Am Di., 16. Juni 2020 um 18:59 Uhr schrieb Derrick Grigg <
notifications@github.com>:

[2020-06-18 14:21] dgrigg commented on #23
@jbogendoerfer can you email the file, github doesn't appear to be liking the attachment derrick at dgrigg dot com

[2020-06-18 14:21] dgrigg commented on #21
@jbogendoerfer can you email the file, github doesn't appear to be liking the attachment derrick at dgrigg dot com

[2020-06-18 14:27] dgrigg commented on #3
Unfortunately there's not a way in the Craft UI to see the tag content to allow any type of export. It also looks like Tags are going away in the upcoming release of Craft.

[2020-06-18 14:27] #3 closed

[2020-06-18 14:30] dgrigg commented on #2
This was added in a previous release.

[2020-06-18 14:30] #2 closed

[2020-06-24 14:54] aselness opened #24 "Migration of content activates all locales in multisite setup"
I currently have a multisite craft instance with multiple languages (locales). I have been trying to migrate content/entries that are active for only one language/locale, but when I run the migration from staging to production it automatically activates all locales rather than just the one specified on the staging server.

Here are my steps to create the issue:

- select page to create migration o

[2020-06-24 18:32] dgrigg commented on #24
Hi @aselness are you running the latest version of Migration Assistant?

[2020-06-24 19:05] aselness commented on #24
I'm running 3.1.6

[2020-06-24 19:09] dgrigg commented on #24
@aselness update to 3.1.8 and you should be good https://github.com/dgrigg/craft-migration-assistant/blob/master/src/services/EntriesContent.php#L48

[2020-06-24 19:09] aselness commented on #24
Ok great - I'll give that a shot. Thanks!

[2020-08-12 23:29] vandyks opened #25 "Assets no longer being applied during migration"
I noticed when importing a migration file my assets are not being applied to the entry. I noticed that the getAssetByHandle function in MigrationManagerHelper was failing to find the correct folder ID. This worked before as assets were correctly being attached but since updating to 3.1.8, it stopped working. It looks like the code was updated in that function since 3.1.6 causing the path value to

[2020-08-17 09:09] ricricucit opened #26 "Plugin crashes with Craft 3.5+ because of Section's `titleLabel`"
From CraftCMS 3.5+ `titleLabel` is not a thing anymore, for sections (`entrytype` DB table).

Importing or exporting a Migration using this plugin, is now generating a `500 Error`.

[2020-08-18 14:41] ricricucit commented on #26
@dgrigg the question is: will you ever work on this plugin again?

If not...I guess I would even mine and my customers money back, and switch to regular Craft migrations...because I'm heavily relying on this paid plugin, but unfortunately I cannot work with this anymore (since Craft 3.5)....

JFYI: ATM `Sections` seem to be the only broken part (to me).

[2020-08-18 15:18] dgrigg commented on #26
Hi @ricricucit. I just returned from a vacation with my family this morning. My apologies for any inconvenience my time away has caused you. This plugin is still maintained on a regular basis and an update will be made soon.

[2020-08-18 15:19] #24 closed

[2020-08-18 15:19] #23 closed

[2020-08-18 15:20] #21 closed

[2020-08-18 16:45] ricricucit commented on #26
Thanks for the prompts answer and...good to know!
I'll be anxiously waiting for a CraftCMS 3.5+ update 🙂 Thanks!

[2020-08-19 14:58] ricricucit commented on #26
also...do you have a possible ETA?

[2020-08-19 18:17] dgrigg commented on #26
I'm hoping by EOW. The 3.5 section config is very different from <= 3.4. The titleLabel is only one small change in a larger set.

[2020-08-20 09:41] ricricucit commented on #26
I'm noticing. Trying to import old migrations, I get weirdness. What I do:

1. skipped the `titleLabel` parts from your plugin (2 lines) to avoid errors
2. when importing sections, I get (many) duplicated fields that I do not even expect to exist after that migration

weird behaviour that I cannot yet understand.

[2020-08-20 11:09] aryehischechter commented on #25
@vandyks I'm running into the same issue.
Can you please elaborate on how you dealt with this?

[2020-08-20 13:51] dgrigg commented on #26
@ricricucit unfortunately 3.5 has introduced some really big changes to the entry types and field layouts which affect the section migrations. Those changes affect all migrations pre 3.5.

[2020-08-20 14:13] vandyks commented on #25
@aryehischechter I had to modify the plugin code. On line 87 in vendor/dgrigg/craft-migration-assistant/src/helpers/MigrationManagerHelper.php, I changed it to this:

`if (array_key_exists('path', $element) && !empty($element['path']))`

[2020-08-20 14:18] dgrigg commented on #25
@vandyks @aryehischechter working on some updates for Craft 3.5 and will be adding this fix in.

[2020-09-04 14:06] shyam089 opened #28 "Latest craft cms(3.5.8) and migration assistant(3.1.9) not migrating any changes"
Hi Team,

We are facing issues when we upgrade our craft to the latest version and also the migration assistant but there seems to be some incompatibility in between the two.

We are always getting the below issue:
The site has been restored to the state it was in before the attempted migration.

An error occurred while executing the "craft\contentmigrations\m200903_004207_migration_navigation_ite

[2020-09-04 14:10] dgrigg commented on #28
@shyam089 which version of Craft and which version of Migration Manager are you running.

[2020-09-04 14:14] shyam089 commented on #28
craft cms(3.5.8) and migration assistant(3.1.9)

[2020-09-04 14:16] dgrigg commented on #28
in your log file can you find the error and send me the details above that line that point to the file/line number.

[2020-09-04 14:17] dgrigg commented on #28
Also, what type of field are you trying to migrate? Or it this happening with all of them?

[2020-09-04 14:18] shyam089 commented on #28
Its happening with all kinds of fields.
Whenever we link any field in section and try to migrate both.
Its not migrating in other systems.
Can you tell me which log file should I look for this error?

[2020-09-04 14:18] dgrigg commented on #28
storage/logs/web.log

[2020-09-04 14:21] shyam089 commented on #28
Its coming when we run the migrations in the destination system.
Give me a minute I'm sending the logs.

[2020-09-04 14:24] shyam089 commented on #28
2020-09-04 07:20:33 [-][1][88nbcnhn7p2ta4ejmns9le7te7][trace][yii\db\Transaction::rollBack] Roll back transaction
2020-09-04 07:20:33 [-][1][88nbcnhn7p2ta4ejmns9le7te7][error][craft\db\MigrationManager::migrateUp] Failed to apply m200902_052941_migration_lunch_tips (time: 0.107s). Output:
Exception: Setting unknown property: craft\fieldlayoutelements\CustomField::fieldHandle (/var/www/html/bleckma

[2020-09-04 14:24] shyam089 commented on #28
These are the logs I found where the transaction was rolled back to previous state.
Let me know if you need some more information.

I would really appreciate your help.

[2020-09-04 14:30] dgrigg commented on #28
Has the destination system been updated to latest Craft version before running the migrations?

[2020-09-04 14:31] shyam089 commented on #28
Yes both systems are running on same craft version.

[2020-09-04 15:00] dgrigg commented on #28
Can you provide more lines from the log files, after lines #0 - #8 so I can see where the error is originating.

[2020-09-04 15:02] shyam089 commented on #28
Below is the track till #32, it's having.

2020-09-04 07:20:33 [-][1][88nbcnhn7p2ta4ejmns9le7te7][trace][yii\db\Transaction::rollBack] Roll back transaction
2020-09-04 07:20:33 [-][1][88nbcnhn7p2ta4ejmns9le7te7][error][craft\db\MigrationManager::migrateUp] Failed to apply m200902_052941_migration_lunch_tips (time: 0.107s). Output:
Exception: Setting unknown property: craft\fieldlayoutelements\Cust

[2020-09-04 15:42] dgrigg commented on #28
@shyam089 try release 3.2.0

[2020-09-04 15:48] shyam089 commented on #28
thanks @dgrigg , I will install and try once.
Really appreciate your help and time.

[2020-09-04 17:30] shyam089 commented on #28
Hi @dgrigg , I tried your latest release 3.2.0
but its showing something else now..
    An error occurred while executing the "craft\contentmigrations\m200904_090855_migration_mail_template migration: Trying to get property 'uid' of non-object

[2020-09-04 17:32] shyam089 commented on #28
Below you can find the stack trace for the same,
2020-09-04 22:59:27 [-][1][-][error][craft\db\MigrationManager::migrateUp] Failed to apply m200904_090855_migration_mail_template (time: 0.515s). Output:
Exception: Trying to get property 'uid' of non-object (/var/www/html/bcrew_test/backend/vendor/craftcms/cms/src/fieldlayoutelements/CustomField.php:98)
#0 /var/www/html/bcrew_test/backend/vendor/cr

[2020-09-04 17:36] dgrigg commented on #28
try doing two separate migrations, one for the fields first and then one for the sections second

[2020-09-04 17:36] shyam089 commented on #28
OK, Just give me 2 mins.I will try that one.

[2020-09-04 17:46] shyam089 commented on #28
@dgrigg , I tried doing it separately but its working only I my fields are not linked to the sections,
In case If its linked already then even if we do migrations, its throwing error like that section is missing.

[2020-09-04 17:53] shyam089 commented on #28
In this scenario, what happens we need to link our fields manually then in the destination system.
But previously with craft 3.4.8 and migration-assistant 3.1.8 it used migrate both simultaneously without issues.

[2020-09-04 17:54] dgrigg commented on #28
Let me see what I can do. Craft 3.5 has introduced a few changes that are proving tricky to work around.

[2020-09-04 17:58] shyam089 commented on #28
Yes, I too saw some database changes has come, so I was in contact with one of the craft support member as well, if he can help me.
I would really be thankful for your help and support.

[2020-09-04 18:26] dgrigg commented on #28
One more question. Is the field that links to a section, linking to the section that it is a field in (like a circular reference).

ie
Field['sectionField']['section'] = 'SectionA'

Section['SectionA']['fields'] = ['title', 'sectionField', 'someOtherField']

[2020-09-05 07:41] shyam089 commented on #28
@dgrigg , No Its not circular linking in my case, But if I see my migrations files which I created only for fields, its mentioned "typesettings":{"sources":["tokenSection"] , like the field is linked to some section, hence if I run migrations first for the field, it will throw error that section is not found so I have to first run for sections then only fields will be migrated.

For refrence you c

[2020-09-07 08:32] roelvanhintum opened #29 "Packagist isn't updating. 3.1.9 is the last published version"
I'm guessing the sync isn't working anymore. 3.2.0 is missing.

[2020-09-08 13:39] dgrigg commented on #28
@shyam089 I just pushed some updates (3.2.1). I think the issue is the order of migrations. I was able to make the error happen locally and following the steps below worked to prevent the error. The problem is the order of fields/sections existing in Craft and what happens internally if a field/section fails validation when saving.

Try the following in instances where you have a field that contai

[2020-09-08 13:40] dgrigg commented on #29
@roelvanhintum 3.2.1 is showing up properly now.

[2020-09-08 13:40] #29 closed

[2020-09-08 14:19] shyam089 commented on #28
@dgrigg , Thanks for your time, I will try it the way the you suggested to see if its successfully migrating.

[2020-09-08 14:40] shyam089 commented on #28
@dgrigg , Thank you much the issue is resolved now and its migrating again.

[2020-09-08 14:40] #28 closed

[2020-09-29 21:25] strandofgenius commented on #25
Is this fix meant to work with the Pixel & Tonic Amazons S3 plugin?
I'm running Craft 3.5.11.1 and Craft Migration Assistant 3.2.1 and it isn't including the assets when migrating an entry.
[code]

[2020-10-02 07:00] wallacio opened #30 "Entry type of same name as section name is created during migration"
Craft 3.5.12
MA 3.2.1

I have a section called, for the sake of an example, "Cars". It has a handle of "cars".
This section has a single Entry Type called "Car", with a handle of "car".

I create a migration for this one section using the Migration Assistant.

When applying this migration, two Entry Types are created in the Section; "Cars" and "Car". The fields associated with the "Car" entry type

[2020-10-02 08:35] rgbjay commented on #30
Also having this exact same issue. Editing the JSON to remove the duplicate in the migration files appears to have no effect either.

[2020-10-02 12:04] dgrigg commented on #30
@wallacio @rgbjay  this is an issue with Craft wanting to create a default entry type of the same name as the section. I will try to come up with a solution to solve this.

[2020-10-02 12:07] dgrigg commented on #25
@strandofgenius It should be working. Are you using the same S3 bucket between the source and destination sites?

[2020-10-05 14:02] strandofgenius commented on #25
I can't always see what I've uploaded from one environment to another, but local, staging and live, should all be using the same asset domain and folder since those settings are all the same based on their environment variables.

[2020-10-05 14:09] dgrigg commented on #25
Can you confirm that all three environments are using the same S3 bucket. If they are not and the environment you are running the migration on does not have that file in their S3 bucket that would explain the empty field.

[2020-10-05 14:41] strandofgenius commented on #25
I hadn't accounted that the live site is using a cloudfront distribution. However shouldn't it work if I were to export my live db and import into a local development to create a migration? Or would I still need to update the asset domain to point to the cloudfront url?

[2020-10-05 15:36] dgrigg commented on #25
It should work if the asset has been indexed on the destination site and the file exists in the Asset source that is being used on the destination site. When the migration runs it using the Asset source, filename and path to find the matching asset in the destination system. If the asset can not be found you end up with an empty Asset field. That is the most typical reason for what you are seeing

[2020-11-25 11:15] timbertens opened #31 "'Create migration' button is visible for regular users in 'Globals'"
I never noticed it before, but one of our clients just got confused with the fact that there is a 'Create Migration' in 'Globals' for regular users.  It is shown on the same spot as the 'Save' is normally, hence the confusion.
I believe it is the intention that the functionality from 'Migration Assistant' in only visible / accessible for Admin account, not for regular users.

<img width="1344" alt

[2020-11-27 15:07] dgrigg commented on #31
@timbertens good catch. That should only be visible for users who have 'createContentMigrations' permission, same case as with the Entries/Categories etc.

[2020-12-10 13:33] timbertens commented on #31
@dgrigg do you think it can be solved easily? I'm preparing a new release for these websites and would like to know if I can include it

[2020-12-10 14:27] dgrigg commented on #31
@timbertens sorry been busy on a few things. I can make that update tomorrow.

[2020-12-10 14:46] timbertens commented on #31
@dgrigg no problem, we are all over occupied .. ! Would be perfect, will plan the release this weekend in this case!

[2020-12-11 14:48] dgrigg commented on #31
@timbertens  release 3.2.4 is available with the update.

[2020-12-11 14:48] #31 closed

[2020-12-11 14:48] #25 closed

[2020-12-15 09:33] Yofamb opened #32 "Migration fails when grandchildren have same parent slugs"
Not sure how to explain this, but given the following screenshot. If I create a migration of all the entries (from the dropdown, delete the entries, then run the migration I receive an error. From what I can see it is because both grand children have their parent set to 'child'. Can an id or uri be used instead? something like `"parent":"parent-2/child"` for grandchild 2?

Do you have recommendati

[2020-12-15 09:39] Yofamb commented on #32
I'm trying to migrate from an old cms to craftcms and am hoping that migration assistant can do the navigation migration. Unfortunately, there are lots of slugs that are the same :(

[2020-12-15 19:08] dgrigg commented on #32
@Yofamb the duplicated slug could cause issues but I would expect the relationship to just end up being to the wrong parent. It might be that the parent entry does not exist when the child/grand child is getting added. You could try to do a migration first of the top level parent, then one of the child and then a final one of the grand child. Then run all 3 on the destination site.

[2020-12-15 20:36] Yofamb commented on #32
Thanks, ill give that a go, that makes sense.

[2021-02-01 08:09] roelvanhintum opened #33 "Environment variables and aliases are parsed instead of copied to migration"
This like `@var` and `$VAR` are more common, and even advised, now in craft cms settings. This is useful for multi environment websites. These are now parsed, so the actual migration file doesn't contain `@var` and `$VAR` but their values instead, which is not useful. This is reproducable on the site's `siteUrl`.

[2021-02-01 14:16] rgbjay commented on #30
@dgrigg Any update on this?

[2021-02-01 15:49] dgrigg commented on #30
@rgbjay no update yet. I will try to find a solution soon.

[2021-02-01 15:49] #32 closed

[2021-02-01 15:50] dgrigg commented on #33
I will look into this. Craft must have changed when they are parsing those values which would affect how the migration gets the data.

[2021-02-01 19:58] kayqq opened #34 "Exception: Undefined index: maxSiblingBlocks when migrating Neo fields"
My field migrations for Neo blocks are not including the `maxSiblingBlocks` property in the JSON settings object of the migration.

Currently my workaround is adding `"maxSiblingBlocks": "0",` to any objects with `"maxChildBlocks"` to the migration after generating it.

"craftcms/cms": "3.5.17.1",
"spicyweb/craft-neo": "2.8.16",
"dgrigg/craft-migration-assistant": "3.2.4",

Update: My workaround w

[2021-02-05 17:03] dgrigg commented on #33
@roelvanhintum which version of Craft are you running? I tested on Craft 3.6.3 and everything was migrated correctly. Also, where are you putting the @var $VAR values (Assets, Sections) when they are getting parsed?

[2021-02-05 19:13] dgrigg commented on #34
@kayqq fixed in latest version

[2021-02-05 19:13] #34 closed

[2021-02-05 19:13] dgrigg commented on #30
@rgbjay @wallacio fixed in current version

[2021-02-05 19:13] #30 closed

[2021-02-05 19:14] dgrigg commented on #33
@roelvanhintum did some digging, this appears to have only been an issue in the Site settings. Fixed the name and base url values to not parse the env variables.

[2021-02-05 19:14] #33 closed

[2021-02-16 19:26] kayqq opened #35 "Neo field migration is erasing all field layouts for every block"
Every time I try to run a migration for a Neo field, the attached fields for the layout and tabs all get erased. The migration runs without any errors though. This only started happening since I upgraded Neo. I think there might be some sort of mismatch of ID's maybe?

"craftcms/cms": "3.5.17.1",
"spicyweb/craft-neo": "2.8.19",
"dgrigg/craft-migration-assistant": "3.2.5",

[2021-02-16 20:02] dgrigg commented on #35
When you say erased do you means the fields are removed from the Neo blocks?

[2021-02-18 01:16] kayqq commented on #35
@dgrigg yes thats exactly what I mean, thanks for clarifying

[2021-02-24 06:29] shyam089 opened #36 "Migration Assistant not migrating in AWS e2 instance server (DB postgres)"
Hi team,

We are using Craft 3.5.12.1 and migration assistant 3.2.1, we are facing migration issue when we try to migrate the files in server (AWS e2 instance), for which the image you can find attached.
![migration_issue](https://user-images.githubusercontent.com/35887287/108957573-b7c1c200-7697-11eb-93b7-99e44de67fbf.png)

Please help us in resolving the issue and let us know if you need any oth

[2021-02-27 16:21] dgrigg commented on #36
@shyam089 appears to be a Postgres command line permissions issue. I would suggest checking the permissions on the pg_dump command

[2021-02-28 19:11] alnassif commented on #35
Hi @dgrigg has this been fixed or is there a workaround

[2021-02-28 19:39] dgrigg commented on #35
@alnassif working on a solution, stay tuned

[2021-03-01 14:41] dgrigg commented on #35
@kayqq @alnassif the issue have been resolved in 3.2.6  Thank you for your patience.

[2021-03-01 14:41] #35 closed

[2021-05-05 08:03] timbertens opened #37 "LinkField fields are no longer migrated correctly"
The import of LinkField migration is no longer working correctly, not sure since what version exactly but in the previous versions it definitely worked as expected.  This is the json string that is created upon creating a migration

`    private $json = <<<'JSON'
{"content":{"entries":[{"slug":"test","section":"nieuwsItems","sites":{"default":{"slug":"test","section":"nieuwsItems","enabled":true,"

[2021-05-05 15:02] dgrigg commented on #37
Are you using the latest version of Craft and Migration Assistant? Also, please confirm that the entry  with slug 'contacteer' in section 'contact' exists. Tested locally in Matrix blocks with Entry links and it is working correctly.

[2021-05-05 15:12] timbertens commented on #37
yes, using

- Craft Pro 3.6.13
- Migration Assistant 3.2.6

yes, see screenshot.  Don't know if that would make difference, but it is a 'Single'

<img width="1043" alt="Screenshot 2021-05-05 at 17 10 33" src="https://user-images.githubusercontent.com/1016655/117164321-ced20e00-adc4-11eb-90ba-66e3b95f3ae6.png">

<img width="1043" alt="Screenshot 2021-05-05 at 17 11 22" src="https://user-images.gith

[2021-05-05 15:23] dgrigg commented on #37
Tested with asset, single entry and section entry locally, all worked correctly. On the destination site the 'contact' entry exists and is enabled for the 'default' site?

[2021-05-06 08:27] timbertens commented on #37
First of all, thanks for the search. Looking further into this, I can see a non-intended difference

**source site**
<img width="1070" alt="Screenshot 2021-05-06 at 10 23 14" src="https://user-images.githubusercontent.com/1016655/117266080-2c15a000-ae55-11eb-8bb9-2515b82fe234.png">

**destination site**
<img width="1069" alt="Screenshot 2021-05-06 at 10 23 24" src="https://user-images.githubuserco

[2021-05-06 13:53] dgrigg commented on #37
Ah, yes I do recall we had to make a slight tweak because of that change in Craft to make sure we got the entry slug on singles. Glad you sorted it out.

[2021-05-06 13:53] #37 closed

[2021-06-17 01:51] drewkennelly opened #39 "Migrating between environments"
Hi,

We are using the plugin and it works great when we make changes locally, commit the migrations and deploy.

One thing we are stuck with though is once the site is deployed and a user creates some new content and creates a migration, how do we download the migration files without having to SSH to the server and download them? We need a process that works for non-technical users.

Also, because

[2021-06-17 18:02] dgrigg commented on #39
Hi Drew, unfortunately the migrations need to be within the 'migrations' folder which is dictated by Craft (and Yii). I could investigate adding some type of event to dispatch after a migration has been created that could be listened for and dealt with (ie use a custom module to hear about the new migration and do something with the file).

[2021-07-06 11:52] aryehischechter commented on #4
@dgrigg is this on a roadmap/in the works?

[2021-11-17 22:53] ghost opened #40 "Migrations with Neo Field Result in foreach() Error"
We're trying to use Migration Assistant to track `block` changes across some Neo fields we have. Unfortunately, any Migration Assistant migration trying to do this fails with the same error.

[code]

Here's the migration in question (this is just a "I wonder what will happen" example - the field setup is just
* 1 block
* 1 tab in the block
* 1 plain text field in the tab)

[code]

Now when I took

[2021-11-18 01:18] dgrigg commented on #40
@lwilkowskeBC the first thing to check/confirm is that you have any fields that Neo is using already migrated to the destination site. Since Neo uses existing fields those fields need to be on the server before the migration for the Neo field runs, bit of a chicken and egg situation.

[2021-11-18 15:58] lwilkowskeBC commented on #40
Yes, all of the fields included in these Neo fields/blocks already exist before trying to create a migration. I've even had a migration with no changes (just selecting the field from the list, giving the migration a name, and creating it) fail in a similar way.

[2021-11-19 16:33] dgrigg commented on #40
@lwilkowskeBC issue fixed. Update to 3.2.7 and create the Neo migration and then run again.

[2021-11-25 21:36] kevadamson opened #41 "Craft 2 migration to run on Craft 3"
I have a website my client has needed to keep using while I update them to Craft 3, and I'd now like to migrate some of the changes they have made during this time over to the Craft 3. Creating the migration file in Craft 2 and then simply trying to run it in the new plugin in Craft 3 generates an error. Is there a simple conversion I can do to the migration file to get it to work? From a test fil

[2021-11-26 13:09] dgrigg commented on #41
@kevadamson unfortunately Craft 2 migrations won't work in Craft 3. The migration structure is quite different between the two. Your best option would be to make a backup of the production server, copy to that to an environment where you safely upgrade to Craft 3, add in the changes you made that are not on production yet and then move that back to production when done. Replace your staging copy w

[2021-11-26 13:09] #41 closed

[2021-11-30 20:54] lwilkowskeBC commented on #40
@dgrigg Thanks for the quick turn around on this, however, there seems to be another bug now.

[code]

I realize that this in Neo, but I thought maybe I'd reach out here to see if you were familiar enough with this to be able to help out any.

Thanks.

[2021-11-30 23:00] dgrigg commented on #40
@lwilkowskeBC can you provide additional details from the log regarding the error. I have tested with the latest Neo field and the migrations were working correctly.

[2021-12-13 18:04] lwilkowskeBC commented on #40
@dgrigg

Sorry for delay on this. We were having issues with getting consistent errors for the issues we were running into.

It seems that we're able to run Migrations with a Neo field now (👍 ) however, there are some caveats:

The fields inside of the Neo field (and therefore Neo field's Neo Blocks) need to be standard fields that come with Craft.

If we try to make a migration to add in some **c

[2021-12-13 20:19] dgrigg commented on #40
@lwilkowskeBC the fields inside the Neo block can be custom but you do need to make sure that you have used the import/export events to properly handle them. If a migration was attempted for a field that had no support it could cause issues as the field would not get properly created and then when Neo goes looking for the field during it's migration it can find the field and thus results in an err

[2022-01-27 17:44] dgrigg commented on #40
@tekstrand those are the only examples I have. You would use those events inside the init function in either a plugin or custom module to modify the migration as needed.

[2022-01-27 17:52] tekstrand commented on #40
@dgrigg does every attribute/property of a custom field need to be set manually? As far as we can tell we aren't doing anything special or unique with our custom fields. The custom fields themselves migrate just fine, but seem to cause issues when used inside of a neo field. Here's some json from the migration for the neo field for one of our custom fields if that helps give any context
`{"type":"

[2022-01-27 17:57] dgrigg commented on #40
@tekstrand anything not in the normal set of attributes for a Craft field would need to get handled via the event listener. You need to write those attribute/values out when the migration is created and then read/parse back in when the migration gets run. In your example I can see all the normal Craft field properties but nothing that seems specific to your custom field.

[2022-01-27 18:28] tekstrand commented on #40
I'm sorry for my trouble understanding here, I just feel like I must be missing some key piece of info. This custom field can be migrated by itself, why does it need special eventing when used inside of a Neo field? For reference, here is the migration that is generated when we select just this custom field and not the neo field

[code]

[2022-01-27 18:40] dgrigg commented on #40
@tekstrand sorry, my misunderstanding. For use within Neo you should not need any extra handling for doing a non-content migration, if the field was migrated and shows up on the destination side then any migration of a Neo field would be able to find the custom field used inside of Neo and make the appropriate associations. You would only need the event handling portion for doing the migration of

[2022-01-27 18:47] tekstrand commented on #40
All good, thanks for the clarification! Do you have any other recommendations for how we can determine why we're getting this error when migrating the neo field? We've tried to chase down logs, but just keep winding up in that same spot. `Exception: Trying to access array offset on value of type null (<project-location>/vendor/spicyweb/craft-neo/src/services/BlockTypes.php:337)`

[2022-01-27 18:54] dgrigg commented on #40
In the log files what lines precede that error to show where it is originating?

[2022-01-27 19:33] tekstrand commented on #40
Nothing before.

[code]

[2022-01-27 23:24] dgrigg commented on #40
@tekstrand It looks like you might have project config enabled which could be causing conflicts. Migration Assistant was built before project config was an option. The two don't play together very well.

[2022-01-28 15:13] tekstrand commented on #40
We've got `'useProjectConfigFile' => false,` in our config file and no `config/project` directory present. I read through the docs here for this plugin and the Craft docs but didn't find anything additional for disabling config. Is there something else we need to do?

[2022-01-28 18:53] dgrigg commented on #40
@tekstrand that could be the issue. If Neo is attempting to writing to the project config and something in that function you have is causing an issue, which I'm guessing could be the cause since the error codes point to the config being updated. Why not just use 'false'?

In the error log do you see anything reference the 'migration-assistant/services/XXXX'?

[2022-01-28 19:07] tekstrand commented on #40
I don't follow, just use `false` where? As far as I can tell from docs setting `writeYamlAutomatically` is as close as you can get to disabling the project config

[2022-01-28 19:17] dgrigg commented on #40
Sorry, I was referencing the old way to disabling it. Looking at this link https://craftcms.com/docs/3.x/project-config.html#manual-yaml-file-generation it looks like you have the correct setup. I'm assuming that's in your config/app.php file.

Do you see any reference in your logs to `migration-assistant/services/XXXX` ? Also, are Craft and Neo up to date? Based on that error message it seems lik

[2022-01-28 19:35] tekstrand commented on #40
All good, my head is spinning trying to keep track of all that. Yes, that is what we have in config/app.php

No reference to `migration-assistant/services` in the logs. Neo is up to date, Craft is 2 small versions behind (we're on `3.7.28`).

Saving the neo field via UI works fine, can make changes, new blocks, delete blocks, all good.

[2022-01-30 16:47] membla opened #42 "Asset fields not included in content migration"
When doing a content migration, we've discovered that while the mapping to related assets are migrated fine as long as the assets are indexed before the migration is run but any field data related to the asset is not. This unfortunately makes the solution unviable for us. Is this an unsupported feature, a bug, or something we potentially could work around?

[2022-01-31 02:48] dgrigg commented on #42
Unfortunately we don't have content migrations for the related field data on assets. It is something we could look at adding, to be honest it has never been requested.

[2022-01-31 07:43] membla commented on #42
I think full support for all content – at least for core Craft fields – would be welcome for anyone doing content migrations. So that would include tags too.

[2022-03-03 00:05] tprice-macsales opened #43 "Wrong charset, conversion from `UTF-8' to `UTF-8//IGNORE' is not allowed"
We're trying to run a migration inside craftcms installed on a docker, and get this error.

`An error occurred while executing the "craft\contentmigrations\m220222_112404_migration_tprice migration: iconv(): Wrong charset, conversion from `UTF-8' to `UTF-8//IGNORE' is not allowed
Check the logs for details.`

We're running:

Craft 3.7.30.1
Neo 2.12.3
Migration Assistant 3.2.7

[2022-03-03 00:15] dgrigg commented on #43
Did you install PHP in Docker with iconv?

[2022-04-25 22:19] github-ab-martinez commented on #40
@dgrigg - we discovered that the root cause of this issue was that during the Migration creation process, the `getNeoField` method in `Fields.php` assigns each of the field's `blockTypeGroup`s a unique key in the following pattern: `uid0`. This resulted in the following structure in the migration's JSON:

[code]

Before being imported, those keys are assigned as the `id` for the respective `blockT

[2022-04-25 22:39] github-ab-martinez opened #44 "Neo Field BlockTypes Deleted and Recreated During Import"
**Issue Description:** When a Neo field migration is created, the field's blockTypes are not assigned their respective `id`s. As a result, upon import, the Neo plugin registers the blockTypes as new, and deletes the existing blockTypes for the field before creating new blockType instances with the migration data.

**Impact:** When the original blockTypes are deleted, any Entry which used the Neo F

[2022-04-26 00:24] dgrigg commented on #44
Yes, that was intentional to ensure migrations inside Neo blocks were updating the correct block since moving block order etc caused migration issues. Are you having this issue when creating content migrations or settings migrations?

[2022-04-26 16:09] github-ab-martinez commented on #44
We're having this issue with Field migrations, specifically.

[2022-04-27 12:36] benediktblank opened #45 "Fields from type "Time" are not migrated correctly (will be set to null because of wrong format)"
Importing entries that have fields from type "Time" does not work correctly.
These entries will lose the value set in the fields from type "Time" because the format is wrong.

**Steps to reproduce:**
1. Create a section with a "Time" field
2. Create an entry and set a time in the "Time" field
3. Create an entry migration with the migration assistant
4. Import the migration with the migration assis

[2022-05-03 02:56] #39 closed

[2022-05-05 07:55] benediktblank commented on #45
@dgrigg Were you able to have a look into that already?

[2022-05-05 13:40] dgrigg commented on #45
@benediktblank I'm looking into it while working on our Craft 4 updates.

[2022-06-22 18:19] tekstrand commented on #44
We're still running into issues with this, we aren't able to create FIeld Setting migrations for Neo fields.

[2022-06-22 21:31] tekstrand commented on #44
Our latest is that creating/running a migration for a Neo field with 42 blocks in it exhausts the php memory

[2022-06-28 19:05] metheeruetaichetcharoen-toast opened #46 "Can't migrate the categories, There was a problem getting the parent element."
I kept getting an error "There was a problem getting the parent element." when I tried to migrate the categories from the regional site. I have ensure that there is a parent element, I did even tried to migrate only the parent level first but still didn't seem to work as expected.

[2022-06-28 21:01] metheeruetaichetcharoen-toast commented on #46
I did tried both scenarios, migrated the parent category first or migrate them all together. It wasn't working. Was it because I have multiple sites?

[2022-06-28 21:03] dgrigg commented on #46
It could be a site issue and not able to find the correct parent based on the site. Unfortunately with nested content and relationships the content migrations can be problematic.

[2022-06-28 21:13] jasonbates-toast opened #47 "Error with NEO fields Group Item"
Hello,

I am having an issue with the Migration Assistant Plugin when it comes to Neo Field with Groups added. Groups is basically just a section with not Settings or Entry Type, but just a title to add other fields in the same category. If I try to import a migration that was generated with Group sections I get an error like the following:

*** applying m220627_152313_migration_content_builder_up

[2022-06-28 23:37] dgrigg commented on #47
Does this happen on field migrations or content migrations?

[2022-06-29 00:21] #43 closed

[2022-06-29 00:22] dgrigg commented on #43
closing, no reply

[2022-06-29 00:22] #4 closed

[2022-06-29 14:06] dgrigg commented on #40
@github-ab-martinez would you be able to share the code you have for updating the group id's. Hoping to get this resolved for the next release.

[2022-06-29 14:25] tekstrand commented on #40
[code]

[2022-07-05 20:58] andyra opened #48 "Unknown method: craft\web\Application::getAssetTransforms()"
I'm using Craft 4.1.1 and just installed the trial of Migration Assistant. I clicked on the Migration Assistant item in the sidebar and was greeted with this error:

[code]

Let me know if there are other details I can provide!

[2022-07-06 22:36] andyra commented on #48
I'm assuming this works for Craft 4—it says as much in the Craft plugin store, but these docs mention v3 quite a bit.

[2022-07-11 13:55] dgrigg commented on #48
Hi @andyra. We have not upgraded the plugin to support Craft 4 yet. I'm not sure why the plugin store is showing otherwise.

[2022-07-12 18:50] andyra commented on #48
Gotcha, thanks for the update! Do you have plans to update to v4 in the near future?

[2022-07-12 18:54] dgrigg commented on #48
Undetermined at this point. Since mid Craft 3 the project config has effectively replaced the use case for the bulk of what the plugin does. With Craft 4 project config can't be disabled (to the best of my knowledge).

[2022-07-14 22:06] metheeruetaichetcharoen-toast opened #49 "contents are disappeared after the migration"
We use the tool to migrate the settings, and contents. For some reasons the tools seem to run fine without any issues during the migration process however it causes the contents to disappear on other sections on the site.
Should the tool suppose to delete the contents?

[2022-07-15 18:51] dgrigg commented on #49
@metheeruetaichetcharoen-toast what type of field is the content that disappears in?

[2022-07-15 19:10] dgrigg commented on #49
The Neo plugin made some changes that have been causing issues with the Migration Assistant. It's something we are trying to fix. In the meantime I would recommend not running migrations that have the Neo field(s).

[2022-07-15 19:15] metheeruetaichetcharoen-toast commented on #49
Should there be a disclaimer on https://github.com/dgrigg/craft-migration-assistant/blob/master/README.md?

[2022-08-15 20:09] jacksutherland commented on #48
Craft needs to get this out of the Craft 4 plugin store. I've installed it twice now (forgot about the first time), wasting time debugging it before it's even updated.